@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .intro
    &-wrapper
      padding: 8rem 0
    &__title
      margin-bottom: 3rem
      font-size: 6.4rem
    &__subtitle
      margin-bottom: 3rem
      font-size: 1.8rem
